<div class="container">
  <h1>Welcome to Bitoli!</h1>
  <div class="form">
    <form class="shortener" action="/urls" method="post">
      <div><input type="text" name="resource" placeholder="Your URL"></div>
      <div><input type="submit" value="Shorten your URL!"></div>
    </form>
  </div>

  <div class="url_list">
    <% if @url %>
        <p><a href="http://<%=@url.resource%>"><%= @url.short_resource %></a></p>
    <% end %>
  </div>
</div>
